<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WsSoap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WsSoap.Properties.Settings>
            <setting name="WsSoap_SPRBWs_ZWS_ONBASE" serializeAs="String">
                <value>http://SPRB-SBX.sprb.com:8010/sap/bc/srt/rfc/sap/zws_onbase/400/zws_onbase/zws_onbase</value>
            </setting>
        </WsSoap.Properties.Settings>
    </applicationSettings>
</configuration>