<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="zecollectsap">
                    <!--    WsdlImporter encontró aserciones de directiva no reconocidas en ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='zecollectsap'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="zecollectsap_soap12">
                    <!--    WsdlImporter encontró aserciones de directiva no reconocidas en ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='zecollectsap_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <!-- <endpoint address="http://SPRB-SBX.sprb.com:8010/sap/bc/srt/rfc/sap/zecollectsap/400/zecollectsap/zecollectsap"
                binding="wsHttpBinding" bindingConfiguration="WsSecured"
                contract="SprbSoap.ZECOLLECTSAP" name="zecollectsap" /> -->
            <endpoint address="http://SPRB-SBX.sprb.com:8010/sap/bc/srt/rfc/sap/zecollectsap/400/zecollectsap/zecollectsap"
                binding="customBinding" bindingConfiguration="zecollectsap"
                contract="SprbSoap.ZECOLLECTSAP" name="zecollectsap" />
            <!-- <endpoint address="http://SPRB-SBX.sprb.com:8010/sap/bc/srt/rfc/sap/zecollectsap/400/zecollectsap/zecollectsap"
                binding="customBinding" bindingConfiguration="zecollectsap_soap12"
                contract="SprbSoap.ZECOLLECTSAP" name="zecollectsap_soap12" /> -->
        </client>
    </system.serviceModel>
</configuration>